/* You can add global styles to this file, and also import other style files */
button:disabled{
    opacity: 0.3;
  }

  .is-invalid {
    border-color: #dc3545; /* Red border for invalid input */
    background-color: #f8d7da; /* Light red background for invalid input */
  }